@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

.logoHead {
  @apply text-center font-serif text-5xl text-[#8e44ad];
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
}
.placeholder-custom::placeholder {
  color: #F1C40F;
}

.custom-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  cursor: ew-resize;
  z-index: 1;
}
